# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\alvar\OneDrive - Universidad Politécnica de Madrid\UNIVERSIDAD\1er AÑO\Programación I\JAVA UNI\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
